---
import links from '../../data/links.json';
---
<section class="links">
    <hr>
    <h3>Interesting links</h3>
    <ul class="int-links">
        {links.map((link) => (
            <li><a href={link.url}>{link.title}</a><span>{link.date}</span></li>    
        ))}
    </ul>
</section>