---

---

<div class="card">
    <div class="card-inner">
        <h1>Mark Fairweather</h1>
        <h2>Design &amp; Development</h2>
        <h3>Milwaukee, WI</h3>
        <hr>
        <ul>
            <li>fairweather.m[at]gmail.com</li>
            <li><a href="https://github.com/mfairweather/">github</a></li>
            <li><a href="https://www.linkedin.com/in/mark-fairweather-80925b6/">linkedin</a></li>
        </ul>
    </div>
</div>