---

---

<div class="card">
    <div class="card-inner">
        <h1>Mark Fairweather</h1>
        <h2>Design &amp; Development</h2>
        <hr>
        <p>Design, UX, and development for web sites and applications.</p>
        <p>Located in Milwaukee, WI</p>
        <ul>
            <li>fairweather.m[at]gmail.com</li>
            <li><a href="https://github.com/mfairweather/">github</a></li>
            <li><a href="https://www.linkedin.com/in/mark-fairweather-80925b6/">linkedin</a></li>
        </ul>
        <hr>
        <h3>Interesting Links</h3>
        <ul class="int-links">
            <li><a href="#">Lorem ipsum dolor sit amet</a><span>01.13.2023</span></li>
            <li><a href="#">Ut enim ad minim veniam</a><span>01.06.2023</span></li>
            <li><a href="#">Excepteur sint occaecat cupidatat non proident</a><span>12.17.2022</span></li>
        </ul>
    </div>
</div>