---
// Layout Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Mark Fairweather";
const description = "The site of Mark Fairweather";
---

<BaseLayout title={title} description={description}>
	<h1>Mark Fairweather</h1>
	<h2>Astro Site</h2>
</BaseLayout>