---
// Component Imports
import MainHead from '../components/MainHead.astro';

---
<html lang="en">
	<head>
		<MainHead />
	</head>
	<body>
		<h1>Mark Fairweather</h1>
		<h2>Personal site</h2>
	</body>
</html>