---
// Component Imports
import MainHead from '../components/MainHead.astro';

let title = 'Mark Fairweather';
let description = 'The personal site of Mark Fairweather.';

---
<html lang="en">
	<head>
		<MainHead {title} {description} />
	</head>
	<body>
		<h1>Mark Fairweather</h1>
		<h2>Personal site</h2>
	</body>
</html>