---



---

<section class="intro">
    <h1>Mark Fairweather</h1>
    <h2>Design &amp; Development</h2>
    <hr>
    <p>Design, UX, and development for web sites and applications.</p>
    <p>Located in Milwaukee, WI</p>
    <ul class="small">
        <li>fairweather.m[at]gmail.com</li>
        <li><a href="https://github.com/mfairweather/">github</a></li>
        <li><a href="https://www.linkedin.com/in/mark-fairweather-80925b6/">linkedin</a></li>
        <li>built with <a href="https://astro.build">astro</a></li>
    </ul>
</section>